<div class="container mt-5">
    
    <a [routerLink]="['/read']" class="btn btn-dark btn-md">Read</a><br><br>


    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>      
     
    <form [formGroup]="medicineForm">
        <div class="col-lg-8 mt-2">
            <input type="text" class="form-control" formControlName="name" placeholder="Enter medicine name here">
        </div>

        <div class="col-lg-8 mt-2">
            <input type="text" class="form-control" formControlName="price"  placeholder="Enter medicine price here">
        </div>

        <div class="col-lg-8 mt-2">
            <input type="text" class="form-control" formControlName="date"   placeholder="Enter date here">
        </div><br><br>
        <div class="col-lg-4 mt-2" *ngIf="!getparamid"  (click)="medicineSubmit()">
            <button class="btn btn-dark">create</button>
        </div>  

        <div class="col-lg-4 mt-2 " *ngIf="getparamid"   (click)="medicineUpdate()">
            <button class="btn btn-success">Update</button>
        </div>  
    </form>
</div>